:root{
    --color-black-principal: #111729; 
    --color-black-secundario: #20293A;
    --color-gray-principal: #364153;
    --color-gray-secundario: #4A5567;
    --color-letter-white: #CDD5E0;
    --color-variant-purple: #1D1B48;
    --color-variant-blue: #3662E3; 
    --font-family--principal:"Be Vietnam Pro", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
main{
    background-color: var(--color-black-secundario);
}
    
.sectionBackground{
    width: 100%;
    height: 200px;
    background-image: url('/assets/hero-image-github-profile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.search{
    background-color: var(--color-black-secundario);
    width: 60%;
    padding-inline: 1.5rem;
    padding-block: .8rem;
    position: absolute;
    top: 2rem;
    text-align: left;
    border-radius: .5rem;
    color: var(--color-gray-secundario);
    font-family: var(--font-family--principal);
    font-weight: 500;
    font-size: 1rem;
}
.search p{
    display: flex;
    align-items: center;
    gap: .7rem;
}
.search p span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/assets/Search.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}